@font-face {
  font-family: "Carneys Gallery";
  src: url('./fonts/carneys_gallery/Carneys_Gallery.otf')  format('truetype');
}

#root {
  padding: 30px;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color:  wheat;
  color: navy;
}

nav > a {
  font-family: "Carneys Gallery", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  margin-right: 30.5px;
  text-decoration-line: none;
  padding: 6px;
  color: navy;
}

nav > a.active {
  text-decoration-line: underline;
}

nav {
  padding-bottom: 20px;
  border-bottom: 1px solid navy;
  margin-bottom: 20px;
}

h2 {
  font-family: "Carneys Gallery", serif;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  margin-bottom: 18px;
}

hr {
  border: none;
  border-top: 1px solid #979797;
  margin: 20px 0;
}

input[type="submit"] {
  background: rgb(226, 151, 11);
  border-radius: 4px;
  color: navy;
  font-weight: bold;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 10px 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 0px;
}

input,
select {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  border: 1px solid #979797;
  border-radius: 4px;
  padding: 7px 9.5px 9px 9.5px;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.tile {
  margin: 0;
  font-size: 14px;
  margin-bottom: 4px;
}

.tile-title {
  font-weight: bold;
  font-family: "Carneys Gallery", serif;
  margin: 10px 0 5px 0;
}

.tile-container {
  margin-bottom: 20px;
}
